
[package]
name = "schnorr_fun"
version = "0.4.1-alpha.0"
authors = ["LLFourn <lloyd.fourn@gmail.com>"]
edition = "2018"
license = "0BSD"
homepage = "https://github.com/LLFourn/secp256kfun/schnorr_fun"
repository = "https://github.com/LLFourn/secp256kfun"
documentation = "https://docs.rs/schnorr_fun"
description = "BIP340 Schnorr signatures based on secp256kfun"
categories = ["cryptography", "cryptography::cryptocurrencies"]
keywords = ["bitcoin", "schnorr"]

[package.metadata.docs.rs]
features = ["all"]

[dependencies]
secp256kfun = { path = "../secp256kfun", version = "^0.4.1-alpha.0", default-features = false }
serde_crate = { package = "serde", version = "1.0", default-features = false, optional = true, features = ["derive", "alloc"] }

[dev-dependencies]
rand = { version = "0.7", features = ["wasm-bindgen"] }
lazy_static = "1.4"
bincode = "1.0"
sha2 = "0.9"
secp256kfun = { path = "../secp256kfun", version = "^0.4.1-alpha.0", features = ["alloc"] }


[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.3"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

[[bench]]
name = "bench_schnorr"
harness = false


[features]
default = ["std"]
all = ["std","serde"]
alloc = []
std = ["alloc"]
serde = ["serde_crate", "secp256kfun/serde"]
libsecp_compat = ["secp256kfun/libsecp_compat"]
