
[package]
name = "schnorr_fun"
version = "0.7.1"
authors = ["LLFourn <lloyd.fourn@gmail.com>"]
edition = "2021"
rust-version = "1.56"
license = "0BSD"
homepage = "https://github.com/LLFourn/secp256kfun/tree/master/schnorr_fun"
repository = "https://github.com/LLFourn/secp256kfun"
documentation = "https://docs.rs/schnorr_fun"
description = "BIP340 Schnorr signatures based on secp256kfun"
categories = ["cryptography", "cryptography::cryptocurrencies"]
keywords = ["bitcoin", "schnorr"]

[package.metadata.docs.rs]
features = ["all"]

[dependencies]
secp256kfun = { path = "../secp256kfun", version = "0.7.1",  default-features = false }
serde_crate = { package = "serde", version = "1.0", default-features = false, optional = true, features = ["derive", "alloc"] }

[dev-dependencies]
rand = { version = "0.8" }
lazy_static = "1.4"
bincode = "1.0"
sha2 = "0.10"
secp256kfun = { path = "../secp256kfun", version = "0.7.1", default-features = false, features = ["alloc", "libsecp_compat", "proptest"] }
secp256k1 = { version = "0.22", features = ["std", "global-context"]}
serde_json = "1"


[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.3"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

[[bench]]
name = "bench_schnorr"
harness = false


[features]
default = ["std"]
all = ["std","serde", "libsecp_compat", "proptest"]
alloc = ["secp256kfun/alloc"]
std = ["alloc", "secp256kfun/std"]
serde = ["serde_crate", "secp256kfun/serde"]
libsecp_compat = ["secp256kfun/libsecp_compat"]
nightly = ["secp256kfun/nightly"]
proptest = ["secp256kfun/proptest"]
